<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trackerg</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="box">
    <h1>Trackerg Rowing Tracker</h1>
    <p>This is a small app to keep rowing workout notes.</p>
    <div class="nav-links">
        <a href="/workouts">See Workouts</a>
        <a href="/workouts/new">Add Workout</a>
        <a href="/h2-console">H2 Console</a>
    </div>
</div>
</body>
</html>
